.gameover {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.gameover p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.gameover img {
    margin-top: 2rem;
    height: 200px;
}

.gameover button {
    color: #fff;
}