.App {
  text-align: center;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #fd6cd2;
}

